html {
    font-family: 'Sono', sans-serif;
    background-color: gray;
    background-image: url(https://img.freepik.com/free-vector/orange-background-desktop-wallpaper-cute-vector_53876-136872.jpg?w=740&t=st=1678859328~exp=1678859928~hmac=8140ab74c548b0c8bddc3ea3fc21d086b170b7d28bab619f70f31ae9b61211f1);
}

aside {
    margin: 50px 0 0 0;
    width: 35%;
    float: left;
}

main {
    margin: 50px 0 0 0;
    width: 60%;
    float: left;
}



div.reminder#active {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    margin:auto;
    margin-bottom: -11px;
}

table {
    width: 100%;
    height: 100%;
}

#tabeltanggal #angka {
    height: 75px;
}

#containerkalender {
    margin-right: auto;
    margin-left: 0;

    width: 700px;
    height: 550px;

    border-radius: 30px;
    background-color: #fcf8f5;

}

#prev, #next {
    color: rgb(201, 201, 201);
}



/* hari tanggal */

#kontainerharitanggal {
    margin-right: auto;
    margin-left: 200px;
    margin-right: 0px;
/* 
    position: relative;
    top: -20px; */

    width: 250px;
    height: 200px;

    border-radius: 30px;
    background-color: #fcf8f5;
}

#kontainerharitanggal h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#kontainerharitanggal h1, #kontainerevents h1 {
    background-color: #fa952d;
    height: 60px;
    border-radius: 30px 30px 0 0;

    width: 250px;

    text-align: center;
    font-size: 30px;
    padding: 20px 0 0 0;

    color: white;
}

#haritanggal + p {
    text-align: center;
    font-size: 50px;
    color: #fa952d;
    margin: 2px;
  }
  
#haritanggal + p + p {
    text-align: center;
    font-size: 40px;
    color: #fa952d;
    margin: 2px;
  }

#kontainerevents {
    margin-right: auto;
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 100px;
    

    width: 250px;
    height: 250px;

    position: inherit;

    border-radius: 0 0 0px 30px;
    background-color: #fcf8f5;

    overflow-y: scroll;
}

#kontainerevents::-webkit-scrollbar {
    width: 10px;
  }

#kontainerevents::-webkit-scrollbar-track {
    background-color: gainsboro;
  }

#kontainerevents::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#kontainerevents h1 {
    margin-bottom: 10px;
    position: absolute;
    bottom: 295px;
}

#eventbox {
    padding-left: 10px;
}

#eventbox p {
    height: 40%;
    width: 83%;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 15px;
    
    background-color: white;

    /* border: 1px solid black; */
    border-radius: 10px;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#containerkalender #bulan {
    margin: 0;
    padding: 20px 0 20px 0;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    background-color: #fa952d;
    border-radius: 30px 30px 0 0;
}

#tabeltanggal {
    padding: 40px 20px 25px 20px;
    text-align: center;
    font-weight: bold;
    color: #2c3d59;
}

#minggu {
    color: #fa952d;
    font-size: large;
}